body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    min-height: 650px;
    min-width: 650px;
    border: 2px solid transparent;
    border-color: black;
    /*below is a way to center the square*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
}

.grid-square {
    border: 1px solid grey;
    box-sizing: border-box; /* Ensures padding and border are included in element dimensions. Useful for hover. */
    cursor: pointer; /*Adds pointer when hover*/
}

.grid-square:hover {
    border: 2px solid black;
}
